body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.top-block {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.top-block {
    gap: 60px;
    align-items: center;
    padding-bottom: 46px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.top-left {
    width: 540px;
    height: 230px;
}

.top-left button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 30px;
    text-align: center;
}

.top-left p {
    font-size: 18px;
    color:#E5E7EB;
}

.top-right {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 300px;
    height: 160px;
    background-color: #E5E7EB;
    font-size: 14px;
}

.information {
    display: flex;
    justify-content: center;
    padding: 16px 0 50px;
}

.information-box {
    display: flex;
    flex-direction: column;
}

.information-box h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.panels {
    display: flex;
    gap: 30px;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 210px;
}

.panel p {
    text-align: center;
    font-size: 17px;
    color: #1F2937;
    font-weight: 520;
}

.panel .panel-img {
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 14px;
    box-sizing: border-box;
}

.header {
    height: 80px;
    gap: 500px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    background-color: #1F2937;
    padding: 25px;
    color: #E5E7EB;
    justify-content: center;
    font-size: 14px;
}



ul {
    list-style: none;
    display: flex;
    gap: 18px;
    color: white;
    align-items: center;
    font-size: 18px;
}