@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sens-serif;
}

.header,
.top-block {
    display: flex;
    background-color: #1F2937;
}

.top-block {
    gap: 60px;
    align-items: center;
    padding-bottom: 46px;
    height: 420px;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.top-left {
    width: 650px;
    height: 240px;
}

.top-left button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 30px;
    text-align: center;
}

.top-left p {
    font-size: 18px;
    color:#E5E7EB;
}

.top-right {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    width: 380px;
    height: 220px;
    background-color: #E5E7EB;
    font-size: 14px;
}

.information {
    display: flex;
    justify-content: center;
    padding: 16px 0 50px;
}

.information-box {
    display: flex;
    flex-direction: column;
}

.information-box h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

.panels {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 32px;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.panel p {
    text-align: center;
    font-size: 17px;
    color: #1F2937;
    font-weight: 520;
}

.panel .panel-img {
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 14px;
    box-sizing: border-box;
}

.header {
    height: 80px;
    justify-content: space-between;
    padding: 0px 240px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.top-text {
    font-size: 36px;
    color: #333;
}

.bottom-text {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #1F2937;
    font-weight: 600;
    padding-right: 34px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    height: 98px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.sign-up {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.sign-up-panel {
    display: flex;
    padding: 60px 104px;
    background-color: #3882F6;
    border-radius: 10px;
    width: 850px;
    height: 40px;
    justify-content: space-between;
    
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.sign-up-panel button{
    height: 40px;
    width: 130px;
    background-color: #3882F6;
    color:#E5E7EB;
    border-color: #E5E7EB;
    border-radius: 8px;
    border-style: solid;
    font-size: 18px;
    font-weight: 600;
    border-width: 3px;
}

.sign-up-text span {
    color:#E5E7EB;
    font-size: 20px;
}

.sign-up-text span:first-child {
    font-size: 26px;
    font-weight: 600;
}

ul {
    list-style: none;
    display: flex;
    gap: 22px;
    color: white;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 0px;
}